<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>
    <p> <%= tableName; %></p>


    <!-- <%- include('partials/tablesAside') %> -->

    <p>Add course</p>


    <!-- <%- include('partials/dataTable') %> -->
    



    <%- include('partials/footer') %>
</body>
</html>