<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>
    <p> <%= tableName; %></p>


    <!-- <%- include('partials/tablesAside') %> -->

    <p>Add student</p>


    <!-- <%- include('partials/dataTable') %> -->
    <p>Lägga till förmulär</p>



    <%- include('partials/footer') %>
</body>
</html>