<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>
    <p> <%= tableName; %></p>


    <%- include('partials/tablesAside') %>

    
    <%- include('partials/dataTable') %>
    

    <%- include('partials/footer') %>
</body>
</html>